@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@inject IAuthenticationSchemeProvider SchemeProvider
@using Microsoft.AspNetCore.Authentication


@model OTITO_Services.Model.BasicUser
<div style="height:200px"></div>


<div class="row" id="privacyPolicyTake" style="display:none;">
    <div class="col-lg-6" style="margin:0px auto;" >
        <h1>Just one single step...</h1>
        <form id="hiddenFacebook" method="post" action="@Url.Action("LoginWithFacebook","Users")">
            <input name="uid" type="hidden" id="uid" value="" />
            <div class="row delegate">
                <div class="col-lg-12" style="text-align:left;">
                    <input type="checkbox" name="terms" id="terms_1" onclick="checkboxCheck_1()" />
                    By signing up to òtító and using the website, you agree that you have read the
                    <a href="https://app.termly.io/document/privacy-notice/c18d0dd9-6afa-4e37-97dd-4b7a608b1684"
                       target="_blank">privacy policy</a>
                    and
                    <a target="_blank" href="https://cookiepolicygenerator.com/live.php?token=ZPhWZ8FrepQoCogYPg4ufRgGzcnGsQUL">
                        cookie policy
                    </a>
                    , and agree to the processing of your data as described in both.

                </div>
            </div>

            <button class="btn btn-success" type="submit" id="submit_1" disabled="disabled">
                Continue
            </button>
        </form>
    </div>
 </div>
<div class="row" id="normalLogin">
    <div class="col-lg-6" style="margin:0px auto;">
        @if (TempData["ErrorMessage"] != null)
        {
            <div style="color:red; border:red;padding:20px">
                @TempData["ErrorMessage"]
            </div>
        }
        <form method="post" id="multipleForm" action="@Url.Action("Login", "Users")">
            <div class="modal-input">
                <img src="~/images/mail.svg" width="24" height="18" style="margin-top:16px; margin-left:10px;" />

                @Html.EditorFor(x => x.Email, new { style = "align-self:stretch;width:100%" })

            </div>
            <div class="row delegate" style="color:red;font-size:14px;">

                @Html.ValidationMessageFor(x => x.Email)
            </div>
            <div class="modal-input">
                <img src="~/images/lock.svg" width="18" height="26" style="margin-top:13px; margin-left:10px;" />
                @Html.EditorFor(x => x.Password, new { style = "align-self:stretch;width:100%" })
            </div>
            <div class="row delegate" style="color:red;font-size:14px;">
                @Html.ValidationMessageFor(x => x.Password)
            </div>
            <div class="row delegate">
                <button class="btn btn-success" type="submit">
                    Login
                </button>
            </div>

        </form>


    </div>

    

</div>

<div class="row" id="normalBtns">
    <div class="col-lg-6" style="margin:0px auto;">
        <a href="#" class="btn btn-facebook" style="color:white;margin:20px; width:100%;"
           onclick="loginWithFacebookAdditional(event,1)"
        >
            <img src="~/images/facebok_icon_white.svg" width="20" height="20" />
            Continue with Facebook
        </a>
        <a href="#" onclick="loginWithFacebookAdditional(event,2)" class="btn btn-google" style="color:white;margin:20px; width:100%">
            <img src="~/images/google_icon_white.svg" width="20" height="20" />
            Continue with Google
        </a>
    </div>
 </div>




<script>
    function checkboxCheck_1()
    {

        if (document.getElementById('terms_1').checked) {
            document.getElementById("submit_1").disabled = false;
        } else {
    document.getElementById("submit_1").disabled = true;
        }
    }
</script>