@model OTITO.Web.Models.Topic.TopicViewModel
@using System.Security.Claims;
@{
    bool admin = User.Identity.IsAuthenticated && User.FindFirst(ClaimTypes.Role).Value.ToString().ToLower().Equals("admin");
}
<style>
    .hideKarma {
        display: none;
    }

    .amin {
        color: white;
        background: rgba(69,104,220,1);
        background: -moz-linear-gradient(45deg, rgba(69,104,220,1) 0%, rgba(176,106,179,1) 100%);
        background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(69,104,220,1)), color-stop(100%, rgba(176,106,179,1)));
        background: -webkit-linear-gradient(45deg, rgba(69,104,220,1) 0%, rgba(176,106,179,1) 100%);
        background: -o-linear-gradient(45deg, rgba(69,104,220,1) 0%, rgba(176,106,179,1) 100%);
        background: -ms-linear-gradient(45deg, rgba(69,104,220,1) 0%, rgba(176,106,179,1) 100%);
        background: linear-gradient(45deg, rgba(69,104,220,1) 0%, rgba(176,106,179,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4568dc', endColorstr='#b06ab3', GradientType=1 );
    }

    .btn-white {
        border: 2px solid #FFFFFF;
        outline: none !important;
        color: #FFFFFF;
    }

    .noShadow {
        box-shadow: 0px 0px 0px 0px rgba(199,244,225,1) !important;
        -webkit-box-shadow: 0px 0px 0px 0px rgba(199,244,225,1) !important;
    }
</style>
<div class="stickyHeader">
    <div class="container">


        <button class="btn btn-default mr-20 addClaimbtn" onclick="window.location.href='@Url.Action("addclaim")'">
            Add Claim
        </button>
        <button class="btn btn-default mr-20" onclick="window.location.href='@Url.Action("SolicitEvidenceTopic")'">
            Share
        </button>

        <span class="searchRow">
            <input type="text" value="@Model.search" id="searchCriteria" style="height:43px;" />
            <button type="button" class="btn btn-success"
                    onclick="findClaim()">
                Search
            </button>
        </span>

        &nbsp;&nbsp;&nbsp;&nbsp;
        Published: @Model.DateCreated.ToString("dd") @Model.DateCreated.ToString("MMMM") @Model.DateCreated.ToString("yyyy")
        @Model.DateCreated.ToString("hh:mm tt")
        &nbsp;&nbsp;&nbsp;&nbsp;
        Total Contributors: @Model.Contributors
        <span style="float:right;padding-top:10px;"></span>
    </div>
</div>
<div class="container mainContainer">
    <button class="addClaimFloating btn btn-success btn-lg" onclick="window.location.href='@Url.Action("addclaim")'">
        Add a Claim
    </button>
    <h1 class="trending_topics">


        @if (admin)
        {
            <button class="btn btn-danger" onclick="window.location.href='@Url.Action("DeleteTopic")'">
                <i class="fa fa-times-circle"
                   onclick=""></i>

                Delete Topic
            </button>

        }

        @Model.TopicName
    </h1>
    @*<button class="btn btn-default mr-20 simpleViewbtn" onclick="window.location.href='@Url.Action("simple")'">
            Simple View
        </button>*@
    @*<button class="btn btn-success mr-20 showCounterClaimbtn">
            Show Counterclaims
        </button>*@
    @*<div class="row button-row">

        <button class="btn btn-default mr-20 addClaimbtn" onclick="window.location.href='@Url.Action("addclaim")'">
            Add Claim
        </button>

        <button class="btn btn-default mr-20" onclick="window.location.href='@Url.Action("SolicitEvidenceTopic")'">
            Share
        </button>


    </div>
    <div class="row button-row searchRow">

        <input type="text" value="@Model.search" id="searchCriteria" />
        <button type="button" class="btn btn-success"
                onclick="findClaim()">
            Search
        </button>
    </div>*@
    @{var c = 0; var interstitial = 0;var vCount = 0;}

    @if (!string.IsNullOrEmpty(Model.search) && Model.Claims.Count == 0)
    {
        <div class="row delegate">
            <div class="col-lg-12" style="        border: 2px solid red;
        color: red;
        padding: 20px;">
                No one’s created a claim on this subject yet. You should <a href="@Url.Action("addclaim")">add a claim</a> and help the world get informed!
            </div>
        </div>
    }


    @foreach (var item in Model.Claims)
    {
        <div class="row claim-row hideAndShow @((item.TotalVotes>=500 && item.KarmaPercent>=90)?"hideKarma":"")" style=" ">
            <div class="col-lg-2 right-border">


                @if (item.Status == 2)
                {
                    <span class="m_claimTitle">
                        <span>Unchallenged Claim</span>
                    </span>

                    <button class="btn round-button tip d_claimTitle">
                        <span>
                            UC
                            <span class="tooltiptext">Unchallenged Claim</span>
                        </span>
                    </button><br>
                }
                else
                {
                    <span class="m_claimTitle">
                        <span>Most Validated</span>
                    </span>
                    <button class="btn round-button tip d_claimTitle">
                        <span>
                            MV
                            <span class="tooltiptext">Most Validated</span>
                        </span>
                    </button><br>
                }

                <span class="claim">Claim</span>
            </div>
            <div class="col-lg-10 claim_head_cont">
                @if (c == 0)
                {
                <h1 class="claim_head">
                    @item.ClaimTitle
                    <div class="showInlineExpand">
            <img src="~/images/down_large_arrow.svg?version=2" width="30"
                 class="showDescription" id="down-m-@item.Id" onclick="showMobileHelp(@item.Id)"
            style="@(vCount<6?"display:none;":"display:block;")"
                 height="30" style="display:block;" />
            <img src="~/images/up_large_arrow.svg?version=2" width="30"
                 class="showDescription" id="up-m-@item.Id" style="@(vCount<6?"display:block;":"display:none;")"
                  onclick="showMobileHelp(@item.Id)"
                 height="30" />
        </div>
                </h1>
                }
                else
                {
                <h2 class="claim_head">
                    @item.ClaimTitle
                    <div class="showInlineExpand">
            <img src="~/images/down_large_arrow.svg?version=2" width="30"
                 class="showDescription" id="down-m-@item.Id" onclick="showMobileHelp(@item.Id)"
                        style="@(vCount<6?"display:none;":"display:block;")"
                 height="30" />
            <img src="~/images/up_large_arrow.svg?version=2" width="30"
                 class="showDescription" id="up-m-@item.Id" style="@(vCount<6?"display:block;":"display:none;")"
                  onclick="showMobileHelp(@item.Id)"
                 height="30" />
        </div>
                </h2>
                }

                <div class="expandClaim" style="position: absolute;
        right: -19px;
        top: -21px;
        cursor: pointer">
                    <img src="~/images/down_large_arrow.svg" width="30"
                         class="showDescription" id="down-@item.Id" onclick="showHelp(@item.Id)" 
                         style="@(vCount<6?"display:none;":"display:block;")"
                         height="30" />
                    <img src="~/images/up_large_arrow.svg" width="30"
                         class="showDescription" id="up-@item.Id" style="@(vCount<6?"display:block;":"display:none;")" onclick="showHelp(@item.Id)"
                         height="30" />
                </div>
                <p class="help-text delegate" style="margin-left: 0px;@(vCount<6?"display: block;":"display:none;")" id="help-@item.Id">
                    @item.ClaimDescription
                </p>
                <button class="btn btn-default mr-20" onclick="window.location.href='/topic/addclaim/@Model.Slug/@item.Guid'">
                    Add Counter Claim
                </button>

                <button class="btn btn-default mr-20 shareClaim" onclick="window.location.href='@Url.Action("SolicitEvidenceTopic")'">
                    Share
                </button>
                <button class="btn btn-info mr-20" onclick="window.location.href='/topic/sources/@(item.Slug)'">
                    Show Sources
                </button>
                @if (admin)
                {
                    <button class="btn btn-danger" onclick="window.location.href='/topic/deleteclaim/@item.Slug'">
                        <i class="fa fa-times-circle"
                           onclick=""></i>

                        Delete Claim
                    </button>
                }
            </div>
            @foreach (var i in item.CounterClaims)
            {
                <div class="row claim-row claim-row-counter nestedClaim @item.Id @(i.TotalVotes>=500 && i.KarmaPercent>=90? "hideKarma":"")">
                    <div class="col-lg-2 right-border">
                        <span class="m_claimTitle">
                            <span>Less Validated</span>
                        </span>
                        <button class="btn round-button tip d_claimTitle">

                            LV
                            <span class="tooltiptext">Less Validated</span>
                        </button><br>
                        <span class="claim">Claim</span>
                    </div>
                    <div class="col-lg-10 claim_head_cont">
                        <h1 class="claim_head" style="        width: 100%;
        min-height: 40px;">
                            @i.ClaimTitle

                            <div class="showInlineExpand">
                                <img src="~/images/down_large_arrow.svg?version=2" width="30"
                                     class="showDescription" id="down-m-counter@(i.Id)" onclick="showMobileHelp('counter@(i.Id)')"
                                     height="30" />
                                <img src="~/images/up_large_arrow.svg" width="30"
                                     class="showDescription" id="up-m-counter@(i.Id)" style="display: none;" onclick="showMobileHelp('counter@(i.Id)')"
                                     height="30" />
                            </div>
                        </h1>

                        <div class="expandClaim" style="position: absolute;
        right: -19px;
        top: -21px;
        cursor: pointer">
                            <img src="~/images/down_large_arrow.svg?version=2" width="30"
                                 class="showDescription" id="down-counter@(i.Id)" onclick="showHelp('counter@(i.Id)')"

                                 height="30" />
                            <img src="~/images/up_large_arrow.svg?version=2" width="30"
                                 class="showDescription" id="up-counter@(i.Id)" 
style="display:none;"
                                   onclick="showHelp('counter@(i.Id)')"
                                 height="30" />
                        </div>
                        <p class="help-text delegate" style="margin-left: 0px; display:none;" id="help-counter@(i.Id)">
                            @i.ClaimDescription
                        </p>
                        <button class="btn btn-default mr-20 shareClaim" onclick="window.location.href='@Url.Action("SolicitEvidenceTopic")'">
                            Share
                        </button>
                        <button class="btn btn-info mr-20" onclick="window.location.href='/topic/sources/@(i.Slug)'">
                            Show Sources
                        </button>
                        @if (admin)
                        {
                            <button class="btn btn-danger" onclick="window.location.href='/topic/deleteclaim/@i.Slug'">
                                <i class="fa fa-times-circle"
                                   onclick=""></i>

                                Delete Claim
                            </button>
                        }
                    </div>
                </div>


            }
            @{
                var nestedHidden = item.CounterClaims.Where(x => x.KarmaPercent >= 90 && x.TotalVotes >= 500).Any();
            }


            <div class="row claim-row @item.Id-nested" style="@(nestedHidden?"":"display:none")">
                <div class="col-lg-6" style="        margin: 0px auto;">
                    <h3 style="        font-family: 'Avenir LT Std 95 Black';">This claim is hidden because òtító users don't think it's trustworthy</h3>
                    <p style="        font-family: 'Avenir LT Std 45 Book';">You can still view the claim, as well as vote on and contribute to its sources—simply click the button below. However, be aware that this claim may contain controversial, offensive, deceptive or otherwise unpleasant information.</p>

                    <button class="btn btn-default" style="        margin: 0px auto;" onclick="nestedClaimReveal(@item.Id)">
                        REVEAL CLAIM
                    </button>
                </div>

            </div>


        </div>
        if ((interstitial == 4 || (Model.Claims.Count > 0 && Model.Claims.Count < 5 && (Model.Claims.Count - 1) == interstitial))
                    && !User.Identity.IsAuthenticated
                    )
        {
            interstitial = 0;
            <div class="row claim-row amin">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="mobileIconInterstitial">
                            <img src="~/images/logo_grey.png" style="width: 100%;border-radius: 100%;" />
                        </div>

                        <div class="col-lg-10 mTech" style="padding-top:20px;">
                            <h3 style="font-family: 'Avenir LT Std 95 Black';">The fight against misinformation needs a hero like you.</h3>
                            <p style="font-family: 'Avenir LT Std 45 Book';">
                                Add your views to this topic by signing up. You’ll also be able to add or vote on sources, and start new topics. Because if you don’t fight misinformation, who will?
                            </p>
                            <span class="mobileInterstitialBtn">
                                <img src="/images/google_icon_white.svg" width="20" height="20" style="margin-right: 10px;">
                                <img src="/images/facebok_icon_white.svg" width="20" height="20" style="margin-right: 10px;">
                                <img src="/images/email.svg" width="25" height="17" style="margin-right: 10px;">
                            </span>

                            <a href="#" data-toggle="modal" data-target="#joinModal" class="btn btn-success noShadow mobileInterstitialBtn">

                                Signup or Login
                            </a>
                            <a href="/signin/Google" class="btn btn-google noShadow desktopInterstitialBtns">

                                <img src="/images/google_icon_white.svg" width="20" height="20" style="margin-right: 10px;">
                                Sign up or log in with Google
                            </a>
                            <a href="#" onclick="loginWithFacebook(event)" class="btn btn-facebook  noShadow desktopInterstitialBtns">
                                <img src="/images/facebok_icon_white.svg" width="20" height="20" style="margin-right: 10px;">
                                Sign up or log in with Facebook
                            </a>
                            <a href="#" data-toggle="modal" data-target="#joinModal" class="btn btn-success noShadow desktopInterstitialBtns">
                                <img src="/images/email.svg" width="25" height="17" style="margin-right: 10px;">
                                Sign up or log in with Email
                            </a>
                        </div>
                    </div>

                </div>
            </div>
                    }
                    interstitial = interstitial + 1;
                    c = c + 1;
                    vCount = vCount + 1;

                }



    @{
        var hasHidden = Model.Claims.Where(x => x.KarmaPercent >= 90 && x.TotalVotes >= 500).Any();
    }
    <div class="row claim-row" id="showHideClaim" style="@(hasHidden?"":"display:none")">
        <div class="col-lg-6" style="        margin: 0px auto;">
            <h3 style="        font-family: 'Avenir LT Std 95 Black';">This claim is hidden because òtító users don't think it's trustworthy</h3>
            <p style="        font-family: 'Avenir LT Std 45 Book';">You can still view the claim, as well as vote on and contribute to its sources—simply click the button below. However, be aware that this claim may contain controversial, offensive, deceptive or otherwise unpleasant information.</p>

            <button class="btn btn-default" style="margin: 0px auto;" id="revealClaim">
                REVEAL CLAIM
            </button>
        </div>

    </div>

</div>

@section Scripts{
    <script>
        function findClaim() {
            var criteria = document.getElementById("searchCriteria").value;
            window.location.href = '/topic/counter/@Model.Slug/' + criteria;
        }

        var input = document.getElementById("searchCriteria");

        // Execute a function when the user releases a key on the keyboard
        input.addEventListener("keyup", function(event) {
            // Number 13 is the "Enter" key on the keyboard
            if (event.keyCode === 13) {
                // Cancel the default action, if needed
                event.preventDefault();
                // Trigger the button element with a click
                window.location.href = '/topic/counter/@Model.Slug/' + input.value;
            }
        });
        $("#revealClaim").click(function() {
            //alert('hi')
            $(".hideAndShow").removeClass("hideKarma");
            $("#showHideClaim").hide();
        })

        function nestedClaimReveal(Id) {
            $("." + Id).removeClass("hideKarma");
            $("." + Id + "-nested").hide();
        }
    </script>
}
