@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using Microsoft.Extensions.Options
@using reCAPTCHA.AspNetCore
@using reCAPTCHA.AspNetCore.Versions
@inject IOptions<RecaptchaSettings> RecaptchaSettings
@model OTITO.Web.Models.Authentication.UserSignup
<form method="post" action="@Url.Action("Signup", "Users")">
    <div style="height:200px"></div>
    @if (TempData["ErrorMessage"] != null)
    {
        <div style="color:red; border:red;padding:20px">
            @TempData["ErrorMessage"]
        </div>
    }
    <div class="row">
        <div class="col-lg-6">
            <div class="modal-input">
                <img src="~/images/mail.svg" width="24" height="18" style="margin-top:16px; margin-left:10px;" />
                @Html.EditorFor(x => x.Email, new { style = "align-self:stretch;" })
            </div>
            <div class="row delegate" style="color:red;font-size:14px;">

                @Html.ValidationMessageFor(x => x.Email)
            </div>
            <div class="modal-input">
                <img src="~/images/lock.svg" width="18" height="26" style="margin-top:13px; margin-left:10px;" />
                @Html.EditorFor(x => x.Password, new { style = "align-self:stretch;" })
            </div>
            <div class="row delegate" style="color:red;font-size:14px;">
                @Html.ValidationMessageFor(x => x.Password)
            </div>

            <div class="modal-input">
                <img src="~/images/lock.svg" width="18" height="26" style="margin-top:13px; margin-left:10px;" />
                @Html.EditorFor(x => x.ConfirmPassword, new { style = "align-self:stretch;" })

            </div>


            <div style="margin-left:20px">
                @(Html.Recaptcha<RecaptchaV2Checkbox>(RecaptchaSettings.Value))
            </div>
            <div class="row delegate" style="color:red;font-size:14px;">
                @(Model.ValidCaptcha==false?"Invalid Captcha":"")
            </div>


            <div class="row delegate">
                <div class="col-lg-10">
                    <button class="btn btn-success" type="submit">
                        Signup
                    </button>
                </div>
            </div>

        </div>
        <div class="col-lg-6">

            <button type="button" class="btn btn-success col-lg-10" style="margin-top:10px" onclick="window.location.href='/Users/Login'">
                Login
            </button>
        </div>
    </div>
</form>